<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta charset="UTF-8">
    <title>Test</title>
  </head>
  <body>
      <a href="#" id="close-btn" class="close"></a>

      <h4 id="user-text">Luke</h2>

      <h2 id="reports-text">Reports</h2>

      <input type="text" id="search-bar">

      <script src="utility.js"></script>
  </body>
</html>
