<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link href="https://db.onlinewebfonts.com/c/12108809f49c49bcdc126dcecc938761?family=Nexa+Light" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Test</title>
  </head>
  <body>
      <a href="#" id="close-btn" class="close"></a>

      <img src="safe-fleet-logo.png" id="logo" class="center" alt="Logo" width="800" height="180">

      <input type="text" id="uname" class="center input" placeholder="Username">
      <input type="password" id="pass" class="center input" placeholder="Password">
      <div><p id="alert"></p></div>

      <button id="login-btn" class="center"><img src="login.png" class="center" width="200" height="100"/></button>

    </body>

    <script src="utility.js"></script>
  </body>
</html>
