.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }

.close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 62px;
    height: 42px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 36px;
    top: 5px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

.input {
  height: 110px;
  width: 440px;
  margin-bottom: 20px;
  background-color: rgb(250, 250, 250);
  border: 0px solid black;
  border-radius: 30px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  outline: none;

  font-family: 'Nexa Light', 'Arial';
  font-size: 30px;
  text-indent: 30px;

  caret-color:  rgba(0, 0, 0, 0.4)
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#logo {
  margin-bottom: 50px;
}

#login-btn {
  background-color: white;
  text-decoration: none;
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

#login-btn:active {
  transform: scale(0.95);
  /* Scaling button to 0.93 to its original size */
}

#alert {
  font-family: 'Nexa Light';
  color: red;
  text-align: center;
}

#reports-text {
  color: black;
  font-family: 'Nexa Light', 'Arial';
  font-size: 60px;
  font-weight: lighter;
  text-align: left;
  margin-left: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#user-text {
  font-family: 'Nexa Light', 'Arial';
  font-size: 20px;
  font-weight: lighter;
  text-align: right;
  margin-top: 40px;
  margin-right: 38px;
	
}

#search-bar {
  border-radius: 4px solid black;
  margin-left: 45px;
  margin-top: 10px;
  width: 216px;
}
